/*
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
	background: #EBE5D9;
}
*/

h2 {
	margin: 7px 0px 0px 2px;
}

div.toolbar {
	display: flex;
	align-items: center;
}

.leftStack {
	float: left;
	font-size: inherit;
}

.entryHeader {
	border-top: solid 1px;
	font-size: 25px;
}

div.entryBody {
	clear: left;
}

/* set size of input with class entryEdit
 and parent div with class .entryHeader
*/
div.entryHeader > input.entryEdit {
	width: 60%;
}

form > input.leftStack {
	margin-left: 3px;
	margin-right: 3px;
}

div.toolbar > form {
	margin-top: 5px;
	margin-bottom: 3px;
}

.entryEdit {
	width: 80%;
	padding: 1px;
	margin: 3px;
}

textarea.entryEdit {
	height: 140px;
}

img.avatar {
	max-height: 22px;
}