/*
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
	background: #EBE5D9;
}
*/

h2 {
	margin: 7px 0px 0px 2px;
}

div.toolbar {
	display: flex;
	align-items: center;
}

.leftStack {
	float: left;
	font-size: inherit;
}

a.leftStack {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #1A4575;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #3A68A1;
  color: #fee1cc;
  text-decoration: none;
  padding: 8px 12px;
  text-decoration: none;
  font-size: larger;
	}

.entryHeader {
	border-top: solid 1px;
	font-size: 25px;
}

div.entryBody {
	clear: left;
}

/* set size of input with class entryEdit
 and parent div with class .entryHeader
*/
div.entryHeader > input.entryEdit {
	width: 60%;
}

form > input.leftStack {
	margin-left: 3px;
	margin-right: 3px;
}

div.toolbar > form {
	margin-top: 5px;
	margin-bottom: 3px;
}

.entryEdit {
	width: 80%;
	padding: 1px;
	margin: 3px;
}

textarea.entryEdit {
	height: 140px;
}

img.avatar {
	max-height: 22px;
}